.orderCardRoot {
    padding: 1rem;
}

.orderCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.orderCard:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.firstBlock {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

.leftSide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.rightSide {
    display: flex;
    flex-direction: column;
    padding: 0rem 0rem 1rem;
    justify-content: center;
}

.orderPlaced {
    font-weight: bold;
}

.orderDate {
    color: #141414;
}

.totalPrice {
    font-weight: bold;
    padding-right: 5rem;
}

.orderId {
    padding-top: 10px;
    font-weight: 800;
}

.divider {
    margin: 1.5rem 0rem;
    width: 50%;
}

.secondBlock {
    display: flex;
    justify-content: space-between;
    margin: 2px 0;
    padding: 0rem 1rem;
}

.secondBlock_left {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.secondBlock_right {
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0rem;
}

.productDetailsContainer {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 1rem 0rem;
    margin-bottom: 1px;
}

.productName {
    font-weight: bold;
    margin-bottom: 1px;
}

.productQty {
    margin-bottom: 1px;
}

.deliveryStatus {
    margin-bottom: 1px;
}

.button {
    margin-right: 1px;
    color: rgb(37, 37, 37) !important;
    cursor: pointer;
    background-color: transparent !important;
    border: 1px solid rgb(37, 37, 37) !important;
}

.button:hover {
    background-color: #e8e8e8 !important;
    border-color: #e8e8e8 !important;
}

.leftSide2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
}

.shipTo {
    font-weight: bold;
    margin-bottom: 1px;
}

.address {
    margin-bottom: 1px;
}

.buttonsContainer {
    display: flex;
    gap: 1rem;
    padding: 10px 0px;
}

.buyAgainButton {
    color: #fff !important;
    cursor: pointer;
    padding: 0px 16px;
    font-size: 16px;
    background-color: rgb(37, 37, 37) !important;
    min-height: 48px;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buyAgainButton:hover {
    background-color: #ed1c24 !important;
    border-color: #ed1c24 !important;
}

.reviewButton {
    color: #fff !important;
    width: 50vmin;
    cursor: pointer;
    padding: 0px 4px;
    font-size: 16px;
    background-color: rgb(37, 37, 37) !important;
    min-height: 48px;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviewButton:hover {
    background-color: #ed1c24 !important;
    border-color: #ed1c24 !important;
}

/* Responsive Styles for sm: 768px */
@media (max-width: 768px) {
    .orderCardRoot {
        width: 100%;
    }

    .orderCard {
        flex-direction: column;
    }

    .firstBlock {
        flex-direction: column;
        align-items: center;
    }

    .rightSide {
        width: 100%;
        padding: 1rem;
        margin-top: 1rem;
        justify-content: center;
    }

    .secondBlock {
        flex-direction: column;
    }

    .secondBlock_left {
        width: 100%;
        align-items: center;
    }

    .secondBlock_right {
        width: 100%;
        padding: 1rem;
        justify-content: center;
    }

    .buttonsContainer {
        justify-content: center;
    }

    .buyAgainButton {
        width: 100%;
        font-size: 14px;
    }

    .reviewButton {
        width: 100%;
        font-size: 14px;
    }

    .leftSide2 {
        margin-bottom: 0;
    }
}

.addressText {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #141414;
}

.dialog {
    width: 80vw;
    height: 70vh;
    margin-top: 0;
    padding: 3rem;
    overflow: hidden;
}