html,
body,
#root {
  height: 100%;
  width: 100%;
}

body{
  background-color: #f1f1f1;
  margin: 0px;
  padding: 0px;

  font-family: 'Archivo', sans-serif;;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

/* input[type="number"] {
  
  -moz-appearance: textfield;
} */

.greenColor {
  color: green !important; 
}
.redColor { 
  color: red !important;
}

.mainButton {
  background-color: #212121  !important;
  color: white !important;
  border-radius: 4px !important;
  font-weight: bold !important;
  width: 100% !important;
  height: 45px !important;
}

.mainButton:disabled {  /* Need */
  background-color: #444444 !important;
  color: #fff !important;
  border-color: #444444 !important;
}

.mainButton:hover {
  background-color: #ed1c24 !important;
  color: #212121 !important;
  font-weight: bold !important;
}
