.about_us {
  padding-top: 8rem;
  padding-bottom: 4rem;
  background-color: white !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_12 {
  padding: 2rem;
  text-align: center;
  background-color: white !important;
  max-width: 100%;
}

.image_about {
  width: 100%;
  height: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.title_about {
  color: #414141;
  font-size: 14px;
  padding: 2rem 1rem;
  font-family: Roboto;
  font-weight: 500 !important;
}

.heading12_about {
  font-size: 1rem;
  padding: 2rem 1rem;
  font-weight: 400 !important;
  color: #414141;
  text-align: center;
}

.introText_about {
  max-width: 800px;
  line-height: 1.5;
  margin: 1.5rem 0;
  color: #292929;
  font-size: 1.2rem;
  font-weight: 400 !important;
  text-align: justify;
  padding: 0.8rem 1rem;
}

.infoText_about {
  line-height: 1.5;
  margin: 2rem 0;
  color: #292929;
  font-size: 1rem;
  font-weight: 400 !important;
  text-align: justify;
  padding: 0.8rem 1rem;
}

.buttonContainer_about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
  margin-top: 1rem;
}
