.payemntPage {
  padding: 1rem 0 !important;
  width: 100% !important;
  background-color: white !important;
  overflow: hidden !important;
}

.paymentPage__container {
  display: flex !important;
  width: 100% !important;
  box-sizing: border-box !important;
  justify-content: space-around !important;
}

@media (max-width: 768px) {
  .paymentPage__container {
    flex-direction: column-reverse !important;
    align-items: center !important;
  }
}

.PaymentBox {
  padding: 1rem !important;
  display: flex !important;
  flex-direction: column !important;
  padding-left: 0.5rem !important;
  overflow: hidden !important;
  background-color: white !important;
  width: 50% !important;
}

@media (max-width: 768px) {
  .PaymentBox {
    width: 90% !important;
    margin-top: 1rem !important;
    padding: 2rem !important;
  }
}

.PaymentHeading {
  font-weight: 800 !important;
  margin-bottom: 1rem !important;
  font-size: 1.5rem !important;
  text-transform: uppercase !important;
}

.securePayemnt {
  display: flex !important;
  align-items: center !important;
  font-weight: 300 !important;
  background-color: #f5f5f5 !important;
  width: 90% !important;
  padding: 1rem !important;
  gap: 0.8rem !important;
  margin-bottom: 1rem !important;
}

.securePayemnt svg {
  font-size: 2rem !important;
}

.icons {
  display: flex !important;
  gap: 1rem !important;
  align-items: center !important;
  width: 100% !important;
}

.icons svg {
  font-size: 1.8rem !important;
  cursor: pointer !important;
}

.cardContainer {
  padding: 1rem !important;
  border: 1px solid #f5f5f5 !important;
  border-radius: 0.5rem !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
  width: 90% !important;
}

.subHeading {
  display: flex !important;
  align-items: center !important;
  gap: 0.5rem !important;
  font-weight: 500 !important;
  margin-bottom: 1rem !important;
}

.subHeading svg {
  font-size: 1.5rem !important;
}

.cardDetails {
  width: 100% !important;
}

.cardDetails .MuiGrid-item {
  margin-bottom: 0.5rem !important;
}

.paymentlabelText {
  font-weight: 300 !important;
}

.outlinedInput .MuiOutlinedInput-root fieldset {
  border-color: #000 !important;
  border-radius: none !important;
}

.outlinedInput .MuiOutlinedInput-root:hover fieldset {
  border-color: #000 !important;
}

.outlinedInput .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: #000 !important;
}

.cardSelection {
  display: flex !important;
  align-items: center !important;
  gap: 0.5rem !important;
  margin-bottom: 1rem !important;
}

.cardSelection svg {
  font-size: 1.5rem !important;
  cursor: pointer !important;
  color: #00000080 !important;
}

.radioText {
  font-weight: 400 !important;
  font-size: 1rem !important;
  color: #00000080 !important;
  cursor: pointer !important;
}

.radioText:hover {
  color: #000 !important;
}

.radio {
  color: #000 !important;
}

.radio.Mui-checked {
  color: #000 !important;
}

.radio .MuiSvgIcon-root {
  font-size: 1.5rem !important;
}

.placeOrderBtn {
  background-color: #000 !important;
  color: #fff !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
  padding: 0.8rem 1rem !important;
  border-radius: 0.5rem !important;
  width: 90% !important;
  margin-left: 1rem !important;
  margin-top: 1rem !important;
}

.placeOrderBtn:hover {
  background-color: red !important;
}

.termsAndConditionsText {
  font-family: Roboto !important;
  color: #727272 !important;
  font-weight: 400 !important;
  line-height: 17px !important;
  padding-left: 16px !important;
  font-size: 12px !important;
}

.privacyText {
  margin-left: 4px !important;
  text-decoration: underline !important;
  color: black !important;
  font-size: 14px !important;
}

.privacyText:hover {
  color: red !important;
}

.paymentInput {
  width: 95% !important;
  padding: 18.5px 14px !important;
  border: 1px solid #000 !important;
}

.paymentInput2 {
  width: 90% !important;
  padding: 18.5px 14px !important;
  border: 1px solid #000 !important;
}

.cardNumberInput {
  position: relative !important;
}

.cardNumberInput .MuiOutlinedInput-root fieldset {
  border-color: #000 !important;
  border-radius: none !important;
}

.cardNumberInput .MuiOutlinedInput-root:hover fieldset {
  border-color: #000 !important;
}

.cardNumberInput .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: #000 !important;
}

.expiryInput {
  position: relative !important;
}

.expiryInput .MuiOutlinedInput-root fieldset {
  border-color: #000 !important;
  border-radius: none !important;
}

.expiryInput .MuiOutlinedInput-root:hover fieldset {
  border-color: #000 !important;
}

.expiryInput .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: #000 !important;
}

.cvvInput {
  position: relative !important;
}

.inputIcon {
  position: absolute !important;
  top: 50% !important;
  right: 1rem !important;
  transform: translateY(-50%) !important;
  color: #00000080 !important;
  cursor: pointer !important;
}

.payemntAmount {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-end !important;
  height: fit-content !important;
  padding: 1rem 0.5rem 0 0.5rem !important;
  width: 40% !important;
}

@media (max-width: 768px) {
  .payemntAmount {
    width: 90% !important;
    padding: 2rem !important;
  }
}

.order_Details {
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  padding: 2rem 0.5rem 2rem 0.5rem !important;
}

@media (max-width: 768px) {
  .order_Details {
    width: 90% !important;
    padding: 2rem !important;
  }
}

.orderSub_heading {
  font-weight: 600 !important;
  font-size: 1.5rem !important;
  margin-bottom: 10px !important;
}

.boldDivider {
  border-bottom: 0.3px solid #3a3e3a !important;
  margin: 5px 0 !important;
  width: 99% !important;
}

.shipping_Deatils {
  display: flex !important;
  flex-direction: column !important;
  width: 98% !important;
  padding: 1rem 1px !important;
}

@media (max-width: 768px) {
  .shipping_Deatils {
    width: 90% !important;
    padding: 1rem 2rem !important;
  }
}

.shipping_Address {
  display: flex !important;
  justify-content: space-between !important;
  width: 100% !important;
}

@media (max-width: 768px) {
  .shipping_Address {
    width: 90% !important;
  }
}

.shipping_Address_Details {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  font-weight: 300 !important;
  padding: 10px 0px !important;
  width: 70% !important;
}

.shipping_Address_edit {
  padding-right: 1rem !important;
}

.shipping_Address_edit svg {
  font-size: 1.8rem !important;
  cursor: pointer !important;
  color: black !important;
}

.shipping_Address_edit svg:hover {
  color: #ed1c24 !important;
}

.emailAddress {
  font-weight: 400 !important;
  font-size: 16px !important;
  color: #414141 !important;
}

.mobileNo {
  font-weight: 400 !important;
  margin-top: -5px !important;
  font-size: 16px !important;
  color: #414141 !important;
}
