.dashboard {
    display: flex !important;
    align-items: flex-start !important;
    background-color: #f1f1f1 !important;
    justify-content: center !important;
    width: 100% !important;
    gap: 1rem !important;
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
}

.firstBox {
    width: 20% !important;
    margin: 0rem !important;
    height: fit-content !important;
    background-color: white !important;
    border-radius: 5px !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) !important;
    display: block !important;
}

@media (max-width: 999px) {
    .firstBox {
        display: none !important;
    }
}

.toggleBox {
    width: 16rem !important;
    margin: 0rem !important;
    height: fit-content !important;
    background-color: white !important;
    border-radius: 5px !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) !important;
    display: block !important;
    z-index: 100 !important;
    position: absolute !important;
    top: 58px !important;
    left: 17px !important;
}

.secondBox {
    width: 75% !important;
    height: fit-content !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 1rem !important;
    justify-content: center !important;
}

@media (max-width: 999px) {
    .secondBox {
        width: 100% !important;
    }
}

.navBar {
    margin: 0rem !important;
}

.summaryCard {
    display: flex !important;
    justify-content: center !important;
    color: white !important;
    width: 100% !important;
    height: 15rem !important;
    gap: 1rem !important;
    margin: 1rem 0 0 0 !important;
}

@media (max-width: 768px) {
    .summaryCard {
        flex-direction: column !important;
        height: 20rem !important;
        align-items: center !important;
        margin-top: 7rem !important;
    }
}

.cardContainer {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #414141 !important;
    margin: 0 1rem !important;
    width: 30% !important;
    height: 10rem !important;
    border-radius: 5px !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) !important;
    transition: transform 0.2s ease-in-out !important;
    cursor: pointer !important;
}

.cardContainer:hover {
    transform: scale(1.1) !important;
    background-color: #ed1c24 !important;
}

@media (min-width: 576px) and (max-width: 992px) {
    .cardContainer {
        width: 32% !important;
        margin-bottom: 1rem !important;
        padding: 1rem 2rem !important;
    }
}

@media (max-width: 576px) {
    .cardContainer {
        width: 85% !important;
        margin-bottom: 1rem !important;
        padding: 2rem 2rem !important;
    }
}

@media (max-width: 576px) {
    .cardContainer {
        width: 85% !important;
        padding: 1.2rem !important;
        margin: 0 auto !important;
        margin-bottom: 1rem !important;
    }
    .cardContainer:hover {
        transform: scale(1.05) !important;
    }
}

.textContainer {
    margin-top: 0.5rem !important;
    text-align: center !important;
    color: white !important;
    text-shadow: 1px 1px 2px black !important;
}

.heading {
    font-size: 20px !important;
    font-weight: 800 !important;
    margin-bottom: 0.5rem !important;
    text-shadow: 1px 1px 2px black !important;
}

@media (max-width: 992px) {
    .heading {
        font-size: 18px !important;
    }
}

@media (max-width: 768px) {
    .heading {
        font-size: 22px !important;
    }
}

.number {
    font-size: 1.5rem !important;
    font-weight: 500 !important;
    text-shadow: 1px 1px 2px black !important;
}

.headerContent {
    display: flex !important;
    gap: 1rem !important;
    align-items: center !important;
    color: white !important;
}

@media (max-width: 992px) {
    .headerContent {
        & svg {
            font-size: 2rem !important;
        }
    }
}

@media (max-width: 768px) {
    .headerContent {
        & svg {
            font-size: 3rem !important;
        }
    }
}

.revenue {
    width: 100% !important;
    height: fit-content !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: -2.5rem auto 0 !important;
}

@media (max-width: 768px) {
    .revenue {
        flex-direction: column !important;
        margin-top: 5rem !important;
    }
}

.doughnutChart {
    height: fit-content !important;
    width: 42% !important;
    background-color: white !important;
    border-radius: 5px !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) !important;
    padding: 1rem 2rem !important;
    margin: 0 1rem !important;
}

@media (max-width: 992px) {
    .doughnutChart {
        width: 30% !important;
        padding: 1rem 3rem !important;
    }
}

@media (max-width: 768px) {
    .doughnutChart {
        width: 85% !important;
        padding: 2rem !important;
        margin-top: 2rem !important;
    }
}

@media (max-width: 576px) {
    .doughnutChart {
        width: 85% !important;
        padding: 1.2rem !important;
        margin-bottom: 1rem !important;
    }
}

.lineChart {
    width: 90% !important;
    height: fit-content !important;
    background-color: white !important;
    align-items: center !important;
    border-radius: 5px !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) !important;
    padding: 2rem !important;
    margin: 1rem auto !important;
}

@media (max-width: 768px) {
    .lineChart {
        width: 85% !important;
    }
}

@media (max-width: 576px) {
    .lineChart {
        width: 85% !important;
        padding: 1.2rem !important;
        margin-bottom: 1rem !important;
    }
}
