.rootProfile {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  background-color: #f7f7f7 !important;
  min-height: 100vh !important;
  padding-top: 5rem !important;
  padding-bottom: 2rem !important;
}

.header-root {
  width: 100% !important;
  text-align: center !important;
  background-color: white !important;
  padding: 3rem 0 2.5rem !important;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1) !important;
}

.headingProfile {
  text-align: center !important;
  font-weight: 900 !important;
  font-size: 30px !important;
  text-transform: uppercase !important;
  color: #414141 !important;
}

.profileConatiner {
  display: flex !important;
  justify-content: space-around !important;
  width: 97% !important;
  align-items: center !important;
}

.leftCotainer {
  max-width: 27vmax !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  margin-bottom: 18rem !important;
  padding: 0 !important;
}

.greeting {
  font-size: 16px !important;
  color: #414141 !important;
  font-weight: 500 !important;
}

.profileHeadingLeft {
  font-size: 1.6rem !important;
  font-weight: 800 !important;
  margin-bottom: 1rem !important;
  color: #212121 !important;
  background-color: inherit !important;
  text-transform: uppercase !important;
}

.profileHeading {
  font-size: 18px !important;
  font-weight: 900 !important;
  margin-bottom: 1rem !important;
  color: #212121 !important;
  text-transform: uppercase !important;
}

.profileSection {
  background-color: white !important;
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  gap: 0.8rem !important;
  padding: 1.5rem 2.5rem 3rem 0.5rem !important;
  border-radius: 3px !important;
  margin-bottom: 1rem !important;
  text-align: center !important;
  padding-top: 1.5rem !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}

.profileAvatar {
  width: 90px !important;
  height: 90px !important;
  margin-bottom: 8px !important;
  font-size: 2rem !important;
  font-weight: 800 !important;
  background-color: #414141 !important;
}

.leftDetails {
  display: flex !important;
  flex-direction: column !important;
  gap: 16px !important;
  width: 23vmax !important;
}

.profileSubHeading {
  font-size: 1rem !important;
  color: black !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  margin: 0 !important;
  padding: 0 !important;
}

.profileText {
  font-size: 1rem !important;
  color: #414141 !important;
  text-transform: uppercase !important;
}

.profileText2 {
  font-size: 16px !important;
  color: #414141 !important;
  font-weight: 500 !important;
}

.profileText3 {
  font-size: 14px !important;
  color: black !important;
  font-weight: 400 !important;
  width: 80% !important;
  margin-top: -14px !important;
}

.myOrder {
  width: 28vmax !important;
  background-color: white !important;
  text-align: center !important;
  padding: 1rem !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.1) !important;
  border-radius: 3px !important;
}

.ordersButton {
  width: 100% !important;
  padding: 0.5rem !important;
  margin-bottom: 8px !important;
  background-color: #414141 !important;
  color: #fff !important;
}

.profileButton {
  width: 50% !important;
  padding: 0.5rem !important;
  margin: 1rem !important;
  background-color: #414141 !important;
  color: #fff !important;
}

.ordersButton:hover {
  background-color: #ed1c24 !important;
}

.profileButton:hover {
  background-color: #ed1c24 !important;
}

.rightConatiner {
  width: 58vmax !important;
  background-color: white !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 1rem !important;
  margin-top: 3rem !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}

.righHeadings {
  padding: 2rem !important;
}

.detials {
  display: flex !important;
  flex-direction: column !important;
  padding: 0.5rem 2rem !important;
  gap: 10px !important;
}

.mangeAccount {
  display: flex !important;
  margin-top: 2rem !important;
  flex-direction: column !important;
  padding: 0rem 2rem !important;
  gap: 2px !important;
}

@media (max-width: 950px) {
  .profileConatiner {
    flex-direction: column !important;
    max-width: 100% !important;
  }

  .leftCotainer {
    width: 100% !important;
    margin-top: 2rem !important;
    margin-bottom: 0 !important;
  }

  .profileHeadingLeft {
    width: 88vmax !important;
    text-align: center !important;
  }

  .profileHeading {
    width: 100% !important;
  }

  .profileSection {
    width: 88vmax !important;
  }

  .profileAvatar {
    width: 110px !important;
    height: 110px !important;
    font-size: 3rem !important;
  }

  .profileText2 {
    width: 70% !important;
  }

  .leftDetails {
    gap: 20px !important;
    width: 100% !important;
  }

  .profileSubHeading {
    font-size: 1.8rem !important;
  }

  .profileText {
    font-size: 1.5rem !important;
  }

  .myOrder {
    width: 88vmax !important;
    padding: 1.5rem !important;
  }

  .ordersButton {
    width: 70% !important;
    padding: 1rem !important;
  }

  .rightConatiner {
    width: 88vmax !important;
    padding: 3rem !important;
    margin-top: 1rem !important;
  }
}

@media (max-width: 870px) {
  .rightConatiner {
    width: 112vmax !important;
    padding-left: 10rem !important;
  }

  .profileText3 {
    width: 60% !important;
  }

  .ordersButton {
    width: 60% !important;
  }

  .profileButton {
    width: 40% !important;
  }
}

@media (max-width: 670px) {
  .rightConatiner {
    width: 112vmax !important;
    padding-left: 15rem !important;
  }

  .profileText3 {
    width: 70% !important;
  }

  .ordersButton {
    width: 50% !important;
  }

  .profileButton {
    width: 35% !important;
  }
}

@media (max-width: 599px) {
  .rightConatiner {
    width: 112vmax !important;
    padding-left: 16rem !important;
  }

  .ordersButton {
    width: 40% !important;
  }

  .profileButton {
    width: 30% !important;
  }
}

@media (max-width: 499px) {
  .rightConatiner {
    width: 112vmax !important;
    padding-left: 18rem !important;
  }

  .profileText2 {
    width: 55% !important;
  }

  .profileText3 {
    width: 55% !important;
  }

  .ordersButton {
    width: 40% !important;
  }

  .profileButton {
    width: 30% !important;
  }
}

@media (max-width: 375px) {
  .rightConatiner {
    width: 112vmax !important;
    padding-left: 26rem !important;
  }

  .profileText3 {
    width: 30% !important;
  }

  .profileText2 {
    width: 50% !important;
  }

  .ordersButton {
    width: 40% !important;
  }

  .profileButton {
    width: 30% !important;
  }
}

@media (max-width: 350px) {
  .rightConatiner {
    width: 112vmax !important;
    padding-left: 28rem !important;
  }

  .profileText3 {
    width: 50% !important;
  }

  .profileText2 {
    width: 50% !important;
  }

  .ordersButton {
    width: 40% !important;
  }

  .profileButton {
    width: 30% !important;
  }
}
