.creditCard {
    width: 375px !important;
    height: 225px !important;
    margin: 9rem auto !important;
    padding: 16px !important;
    border-radius: 12px !important;
    background: linear-gradient(45deg, #000000 30%, #4e4e4e 90%) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3) !important;
    color: white !important;
    font-family: Arial, sans-serif !important;
    position: relative !important;
    z-index: 999 !important;
}

.closeButton {
    position: absolute !important;
    top: 16px !important;
    right: 16px !important;
    color: white !important;
    cursor: pointer !important;
}

.closeButton:hover {
    color: #ed1c24 !important;
}

.chip {
    width: 60px !important;
    height: 40px !important;
    border-radius: 50% !important;
    background: linear-gradient(45deg, silver 30%, gold 90%) !important;
    position: absolute !important;
    top: 16px !important;
    left: 16px !important;
}

.creditCardText {
    font-size: 14px !important;
    position: absolute !important;
    top: 16px !important;
    right: 64px !important;
    cursor: pointer !important;
}

.cardNumber {
    font-size: 24px !important;
    font-weight: bold !important;
    text-align: center !important;
    margin: 40px 0 !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) !important;
    cursor: pointer !important;
}

.cardDetails {
    display: flex !important;
    justify-content: space-between !important;
    margin-bottom: 16px !important;
}

.label {
    font-size: 12px !important;
    font-weight: bold !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) !important;
}

.value {
    font-size: 16px !important;
    font-weight: bold !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) !important;
    cursor: pointer !important;
    transform: translateZ(0) !important;
}

.popup {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    padding: 16px !important;
    background: rgba(0, 0, 0, 0.8) !important;
    border-radius: 8px !important;
    color: white !important;
    z-index: 9999 !important;
}

.hint {
    position: absolute !important;
    bottom: 10px !important;
    width: fit-content !important;
    left: 50% !important;
    padding: 4px 8px !important;
    transform: translateX(-50%) !important;
    font-size: 16px !important;
    color: #ed1c24 !important;
    font-weight: 400 !important;
    cursor: pointer !important;
    text-decoration: underline !important;
}

.dialogPaper {
    width: fit-content !important;
    height: fit-content !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

.dialogContent {
    overflow: hidden !important;
}