.productCardRoot {
    width: 280px !important;
    height: fit-content !important;
    margin: 16px !important; /* Assuming theme.spacing(2) is 16px */
    background-color: white !important;
    cursor: pointer !important;
}

.productCardMedia {
    height: 200px !important;
    width: 90% !important;
    object-fit: cover !important;
    margin: 1rem 1rem 0 1rem !important;
}

.productCardButton {
    background-color: #212121  !important;
    color: white !important;
    border-radius: 4px !important;
    font-weight: bold !important;
    width: 100% !important;
    height: 45px !important;
}

.productCardButton:hover {
    background-color: #ed1c24 !important;
    color: #212121 !important;
    font-weight: bold !important;
}

.productCardOldPrice {
    text-decoration: line-through !important;
    font-weight: bold !important;
    color: rgba(0, 0, 0, 0.6) !important;
    margin-right: 8px !important; /* Assuming theme.spacing(1) is 8px */
}

.productCardFinalPrice {
    font-weight: bold !important;
    font-size: 1.2rem !important;
}

.productCardDescription {
    font-size: 0.8rem !important;
    font-weight: 500 !important;
    margin-top: 8px !important; /* Assuming theme.spacing(1) is 8px */
    margin-bottom: 8px !important; /* Assuming theme.spacing(1) is 8px */
    display: -webkit-box !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical !important;
}